@charset "UTF-8";

@font-face {
	font-family: fontello;
	src: url(fontello/font/fontello.eot?32974303);
	src: url(fontello/font/fontello.eot?32974303#iefix) format("embedded-opentype"), url(fontello/font/fontello.woff?32974303) format("woff"), url(fontello/font/fontello.ttf?32974303) format("truetype"), url(fontello/font/fontello.svg?32974303#fontello) format("svg");
	font-weight: 400;
	font-style: normal
}

[class^=icon-]:before {
	font-family: fontello;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em
}

.icon-phone:before {
	content: '\e872';
}

.icon-smile:before {
	content: '\e93b';
}

.icon-facebook:before {
	content: '\e94e';
}

.icon-twitter:before {
	content: '\e969';
}

.icon-youtube-play:before {
	content: '\e972';
}

.icon-down-open-mini:before {
	content: '\e9ec';
}

.icon-vimeo:before {
	content: '\ea64';
}

.icon-pinterest:before {
	content: '\ea6d';
}

.icon-instagram:before {
	content: '\ea7e';
}

.icon-google:before {
	content: '\edb2';
}

@font-face {
	font-family: icon_set_1;
	src: url(fontello/font/icon_set_1.eot?55361665);
	src: url(fontello/font/icon_set_1.eot?55361665#iefix) format("embedded-opentype"), url(fontello/font/icon_set_1.woff?55361665) format("woff"), url(fontello/font/icon_set_1.ttf?55361665) format("truetype"), url(fontello/font/icon_set_1.svg?55361665#icon_set_1) format("svg");
	font-weight: 400;
	font-style: normal
}

[class*=icon_set_1_]:before,
[class^=icon_set_1_]:before {
	font-family: icon_set_1;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em
}

.icon_set_1_icon-30:before {
	content: '\3e';
}

.icon_set_1_icon-77:before {
	content: '\6d';
}

@font-face {
	font-family: icon_set_2;
	src: url(fontello/font/icon_set_2.eot?40207016);
	src: url(fontello/font/icon_set_2.eot?40207016#iefix) format("embedded-opentype"), url(fontello/font/icon_set_2.woff?40207016) format("woff"), url(fontello/font/icon_set_2.ttf?40207016) format("truetype"), url(fontello/font/icon_set_2.svg?40207016#icon_set_2) format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Glyphter;
	src: url(icon_restaurant/fonts/Glyphter.eot);
	src: url(icon_restaurant/fonts/Glyphter.eot?#iefix) format("embedded-opentype"), url(icon_restaurant/fonts/Glyphter.woff) format("woff"), url(icon_restaurant/fonts/Glyphter.ttf) format("truetype"), url(icon_restaurant/fonts/Glyphter.svg#Glyphter) format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Pe-icon-7-stroke;
	src: url(new_icons/font/Pe-icon-7-stroke.eot?d7yf1v);
	src: url(new_icons/font/Pe-icon-7-stroke.eot?#iefixd7yf1v) format("embedded-opentype"), url(new_icons/font/Pe-icon-7-stroke.woff?d7yf1v) format("woff"), url(new_icons/font/Pe-icon-7-stroke.ttf?d7yf1v) format("truetype"), url(new_icons/font/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke) format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: ElegantIcons;
	src: url(new_icons/font/ElegantIcons.eot);
	src: url(new_icons/font/ElegantIcons.eot?#iefix) format("embedded-opentype"), url(new_icons/font/ElegantIcons.woff) format("woff"), url(new_icons/font/ElegantIcons.ttf) format("truetype"), url(new_icons/font/ElegantIcons.svg#ElegantIcons) format("svg");
	font-weight: 400;
	font-style: normal
}

.arrow_carrot-left,
.arrow_carrot-right {
	font-family: ElegantIcons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased
}

.arrow_carrot-left:before {
	content: "\34";
}

.arrow_carrot-right:before {
	content: "\35";
}

/*!
 * animate.css -https://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - https://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}

	50% {
		opacity: 1
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}

	50% {
		opacity: 1
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%
}

.owl-carousel .owl-dots.disabled {
	display: none
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit
}

.owl-carousel.owl-loaded {
	display: block
}

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]) {
	max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d
}

.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #fff;
	text-decoration: none
}

.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}

.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}

/*!
*  - v1.4.0
* Homepage: https://bqworks.com/slider-pro/
* Author: bqworks
* Author URL: https://bqworks.com/
*/